.task-info{
    margin-top: 60px;
    width: 42vw;
    height: 25vh;
    /* overflow: hidden; */
    overflow: auto;
    /* padding-left: 10px; */
    padding-right: 15px;
    /* position: relative; */
}
.level-btns, .level-dropdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.level-dropdown{
    border-radius: 10px;
    font-size: 16px;
    background-color: #FFC745;
    padding-left: 5px;
    /* padding-right: 5px; */
}
.task-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.left-arrow {
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #FFC745;
    border-bottom: 10px solid transparent;
  }

  .right-arrow {
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #FFC745;
    border-bottom: 10px solid transparent;
  }
