.task-info{
    padding-top: 60px;
    width: 42vw;
}
.level-btns, .level-dropdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.level-dropdown{
    border-radius: 10px;
    font-size: 16px;
    background-color: #FFC745;
    padding-left: 5px;
    /* padding-right: 5px; */
}
.showme{
    color: aqua;
}
.showme:hover{
    text-decoration: underline;
}
.task-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.left-arrow {
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #FFC745;
    border-bottom: 10px solid transparent;
  }

  .right-arrow {
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #FFC745;
    border-bottom: 10px solid transparent;
  }
.level1{
    height: 110vh;
}
@media (max-width: 1300px){
    .level1{
        height: 140vh;
    }
}
@media (max-width: 1000px){
    .level1{
        height: 100%;
    }
    .task-info{
        width: 100%;
      }
}
@media (max-width: 600px){
    .task-info{
        width: 100%;
    }
}